# StepUp Analytics Tasks Solution

## Question 1:
### Write a function that given your birthday (as a date), returns how old you are in years.

In [1]:
import datetime

def age(d, m, y):
  year = datetime.datetime.now().year
  r = year - y
  return r

print("Enter day, month, year")    # Eg: 02 04 2000
d, m, y = map(int, input().split())
result = age(d, m, y)
print("Age: ", result)

Enter day, month, year
3 6 2000
Age:  21

## Question 2:
### What happens if you parse a string that contains invalid dates? Ex: ymd(c("2010-10-10", "bananas"))
## Ans: 
### It will produce an NA and a warning message

## Question 3:
### How do you import default dataset presend in R to work session
## Ans: 
### The first way to import data into your R session is by using the default datasets package already included in the base R installation. If you look at the package listing in the Packages panel, you will find a package called datasets

# Operations on Flights Dataset
## Using the flights data, Find all the flights that

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('/content/drive/MyDrive/StepUp Analytics/flight_data.csv')
dataset.head()

   year  month  day  dep_time  ...  distance  hour  minute      time_hour
0  2013      1    1     517.0  ...      1400     5      15  1/1/2013 5:00
1  2013      1    1     533.0  ...      1416     5      29  1/1/2013 5:00
2  2013      1    1     542.0  ...      1089     5      40  1/1/2013 5:00
3  2013      1    1     544.0  ...      1576     5      45  1/1/2013 5:00
4  2013      1    1     554.0  ...       762     6       0  1/1/2013 6:00

[5 rows x 19 columns]

In [4]:
dataset.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

## Question 4:
### Had an delay in arrival of 3 or less hours

In [6]:
dataset[dataset['arr_delay'] < 3]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
3       2013      1    1     544.0  ...      1576     5      45     1/1/2013 5:00
4       2013      1    1     554.0  ...       762     6       0     1/1/2013 6:00
7       2013      1    1     557.0  ...       229     6       0     1/1/2013 6:00
8       2013      1    1     557.0  ...       944     6       0     1/1/2013 6:00
10      2013      1    1     558.0  ...      1028     6       0     1/1/2013 6:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
336765  2013      9   30    2240.0  ...       209    22      45  30-09-2013 22:00
336766  2013      9   30    2240.0  ...       301    22      50  30-09-2013 22:00
336767  2013      9   30    2241.0  ...       264    22      46  30-09-2013 22:00
336768  2013      9   30    2307.0  ...       187    22      55  30-09-2013 22:00
336769  2013      9   30    2349.0  ...      1617    23      59  30-09-2013 23:00

[204250 rows x 19 columns]

## Question 5:
### Flew to Houston (IAH or HOU)

In [7]:
dataset[(dataset['dest'] == 'HOU') | (dataset['dest'] == 'IAH')]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
0       2013      1    1     517.0  ...      1400     5      15     1/1/2013 5:00
1       2013      1    1     533.0  ...      1416     5      29     1/1/2013 5:00
32      2013      1    1     623.0  ...      1416     6      27     1/1/2013 6:00
81      2013      1    1     728.0  ...      1416     7      32     1/1/2013 7:00
89      2013      1    1     739.0  ...      1400     7      39     1/1/2013 7:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
336524  2013      9   30    1729.0  ...      1400    17      20  30-09-2013 17:00
336527  2013      9   30    1735.0  ...      1411    17      15  30-09-2013 17:00
336618  2013      9   30    1859.0  ...      1416    18      59  30-09-2013 18:00
336694  2013      9   30    2015.0  ...      1400    20      15  30-09-2013 20:00
336737  2013      9   30    2105.0  ...      1400    21       6  30-09-2013 21:00

[9313 rows x 19 columns]

## Question 6:
### Were operated by United, American, or Delta

In [8]:
dataset[(dataset['carrier'] == 'AA') | (dataset['carrier'] == 'UA') | (dataset['carrier'] == 'DL')]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
0       2013      1    1     517.0  ...      1400     5      15     1/1/2013 5:00
1       2013      1    1     533.0  ...      1416     5      29     1/1/2013 5:00
2       2013      1    1     542.0  ...      1089     5      40     1/1/2013 5:00
4       2013      1    1     554.0  ...       762     6       0     1/1/2013 6:00
5       2013      1    1     554.0  ...       719     5      58     1/1/2013 5:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
336737  2013      9   30    2105.0  ...      1400    21       6  30-09-2013 21:00
336744  2013      9   30    2121.0  ...      2475    21       0  30-09-2013 21:00
336751  2013      9   30    2140.0  ...      2475    21      40  30-09-2013 21:00
336755  2013      9   30    2149.0  ...       200    21      56  30-09-2013 21:00
336762  2013      9   30    2233.0  ...      2565    21      13  30-09-2013 21:00

[139504 rows x 19 columns]

## Question 7:
### Departed in summer (July, August, and September)

In [9]:
dataset[(dataset['month'] > 6) & (dataset['month'] < 10)]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
250450  2013      7    1       1.0  ...      2586    20      29    1/7/2013 20:00
250451  2013      7    1       2.0  ...      1598    23      59    1/7/2013 23:00
250452  2013      7    1      29.0  ...       266    22      45    1/7/2013 22:00
250453  2013      7    1      43.0  ...      1076    21      30    1/7/2013 21:00
250454  2013      7    1      44.0  ...      2475    21      50    1/7/2013 21:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
336771  2013      9   30       NaN  ...       213    14      55  30-09-2013 14:00
336772  2013      9   30       NaN  ...       198    22       0  30-09-2013 22:00
336773  2013      9   30       NaN  ...       764    12      10  30-09-2013 12:00
336774  2013      9   30       NaN  ...       419    11      59  30-09-2013 11:00
336775  2013      9   30       NaN  ...       431     8      40  30-09-2013 08:00

[86326 rows x 19 columns]

## Question 8:
### Arrived more than two hours late, but didn???t leave late

In [10]:
dataset[(dataset['arr_delay'] > 120) & (dataset['dep_delay']  <= 0)]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
22911   2013      1   27    1419.0  ...       719    14      20  27-01-2013 14:00
33011   2013     10    7    1350.0  ...       812    13      50   7/10/2013 13:00
33019   2013     10    7    1357.0  ...      1389    13      59   7/10/2013 13:00
41075   2013     10   16     657.0  ...      1598     7       0  16-10-2013 07:00
55985   2013     11    1     658.0  ...      2475     7       0    1/11/2013 7:00
152766  2013      3   18    1844.0  ...      2586    18      47  18-03-2013 18:00
180893  2013      4   17    1635.0  ...       502    16      40  17-04-2013 16:00
181270  2013      4   18     558.0  ...      1389     6       0  18-04-2013 06:00
181327  2013      4   18     655.0  ...      1372     7       0  18-04-2013 07:00
213693  2013      5   22    1827.0  ...       419    18      30  22-05-2013 18:00
214512  2013      5   23    1810.0  ...       479    18      10  23-05-2013 18:00
226434  2013      6    5    1604.0  ...       762    16      15    5/6/2013 16:00
235033  2013      6   14    1708.0  ...      2475    17      10  14-06-2013 17:00
244329  2013      6   24    1602.0  ...      1521    16       5  24-06-2013 16:00
247568  2013      6   27    2052.0  ...       184    21       0  27-06-2013 21:00
249957  2013      6   30    1423.0  ...       301    14      25  30-06-2013 14:00
250689  2013      7    1     905.0  ...      1096     9       5     1/7/2013 9:00
256340  2013      7    7    1659.0  ...       214    17       0    7/7/2013 17:00
256358  2013      7    7    1727.0  ...      1620    17      30    7/7/2013 17:00
256373  2013      7    7    1746.0  ...       228    17      55    7/7/2013 17:00
256405  2013      7    7    1823.0  ...       764    18      30    7/7/2013 18:00
270742  2013      7   22    1555.0  ...      2586    16       0  22-07-2013 16:00
270752  2013      7   22    1606.0  ...      1020    16      15  22-07-2013 16:00
270762  2013      7   22    1628.0  ...      2475    16      30  22-07-2013 16:00
276564  2013      7   28    1710.0  ...      2576    17      11  28-07-2013 17:00
287148  2013      8    8    1457.0  ...       214    15       0    8/8/2013 15:00
291439  2013      8   13     657.0  ...       748     6      59  13-08-2013 06:00
305985  2013      8   28    1157.0  ...       214    12       0  28-08-2013 12:00
325764  2013      9   19     656.0  ...       733     7       0  19-09-2013 07:00

[29 rows x 19 columns]

## Question 9:
### Were delayed by at least an hour, but made up over 30 minutes in flight

In [11]:
dataset[(dataset['dep_delay'] > 60) & (dataset['air_time'] > 30)]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
119     2013      1    1     811.0  ...       544     6      30     1/1/2013 6:00
135     2013      1    1     826.0  ...      1089     7      15     1/1/2013 7:00
151     2013      1    1     848.0  ...       184    18      35    1/1/2013 18:00
218     2013      1    1     957.0  ...       200     7      33     1/1/2013 7:00
268     2013      1    1    1114.0  ...      1416     9       0     1/1/2013 9:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
336742  2013      9   30    2119.0  ...      1092    20       5  30-09-2013 20:00
336757  2013      9   30    2159.0  ...       301    18      45  30-09-2013 18:00
336760  2013      9   30    2211.0  ...       872    20      59  30-09-2013 20:00
336762  2013      9   30    2233.0  ...      2565    21      13  30-09-2013 21:00
336763  2013      9   30    2235.0  ...       944    20       1  30-09-2013 20:00

[26185 rows x 19 columns]

## Question 10:
### Departed between midnight and 6am (inclusive)

In [12]:
dataset[(dataset['dep_time'] >= 1) & (dataset['dep_time'] <= 600)]

        year  month  day  dep_time  ...  distance  hour  minute         time_hour
0       2013      1    1     517.0  ...      1400     5      15     1/1/2013 5:00
1       2013      1    1     533.0  ...      1416     5      29     1/1/2013 5:00
2       2013      1    1     542.0  ...      1089     5      40     1/1/2013 5:00
3       2013      1    1     544.0  ...      1576     5      45     1/1/2013 5:00
4       2013      1    1     554.0  ...       762     6       0     1/1/2013 6:00
...      ...    ...  ...       ...  ...       ...   ...     ...               ...
335802  2013      9   30     557.0  ...      2586     6       0  30-09-2013 06:00
335803  2013      9   30     558.0  ...       746     6       0  30-09-2013 06:00
335804  2013      9   30     558.0  ...       502     6       0  30-09-2013 06:00
335805  2013      9   30     559.0  ...       711     6       0  30-09-2013 06:00
335806  2013      9   30     600.0  ...      1069     6       0  30-09-2013 06:00

[9344 rows x 19 columns]

## Thank You!